{% extends "base.html" %}
{% load i18n avatar_tags %}
{% block extra_head %}
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{% endblock %}
{% block header %}
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container">
        <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <i class="fa fa-navicon fa-lg"></i>
	      </button>
	      <a class="navbar-brand" href="{% url "home" %}">GeoNode</a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav toolbar">
	        {% block tabs %}
	        <li id="nav_layers">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Data" %}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "layer_browse" %}">{% trans "Layers" %}</a></li>
                <li><a href="{% url "document_browse" %}">{% trans "Documents" %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url "services" %}">{% trans "Remote Services" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "layer_upload" %}">Upload Layer</a></li>
                <li><a href="{% url "document_upload" %}">Upload Document</a></li>
                <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
                {% endif %}
              </ul>
            </li>
	        <li id="nav_maps">
              {% if user.is_authenticated %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Maps" %}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "maps_browse" %}">{% trans "Explore Maps" %}</a></li>
                <li> <a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
              </ul>
              {% else %}
              <a href="{% url "maps_browse" %}">{% trans "Maps" %}</a>
              {% endif %}
            </li>
		  {% if user.is_authenticated %}
            <li>
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "About" %}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
                <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
                {% if perms.announcements.can_manage %}
                <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
                {% endif %}
                {% if user.is_superuser %}
                <li role="separator" class="divider"></li>
                <li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
                <li><a href="{% url "account_invite_user" %}">{% trans "Invite User" %}</a></li>
                <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
                {% endif %}
              </ul>
            </li>
		  {% endif %}
			<ul class="nav navbar-nav">
		  <style type="text/css">
			
			* {
				margin:auto;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:600px;
				sans-serif, font-family:Arial, Helvetica;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				
				color:#fff;
				text-decoration:none;
				padding:15px 12px;
				display:block;
				
			}
			
			.nav li a:hover {
				background-color:#283b0c;
				color:#fff
			}
			
			
			.nav li ul {
				background-color:rgba(0, 0, 0, 0.5);
				display:none;
				position:absolute;
				min-width:165px;
				color:#fff
				}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				position:right;
				width:350px;
				left:165px;
				top:0px;
			}
			
		</style>
<li><a href="#">Enlaces a otras IDE<span class="caret"></span></a>
					<ul>
						<li><a href="">Argentina</a>
							<ul>
								<li><a href="https://ide.ign.gob.ar/portal/home/" target="_blank">Instituto Geográfico Nacional (IGN)</a></li>
								<li><a href="http://catalogo.idera.gob.ar/geonetwork/srv/spa/catalog.search#/home" target="_blank">IDERA</a></li>
								<li><a href="http://mapas.ambiente.gob.ar/" target="_blank">Ministerio de Ambiente y Desarrollo Sustentable</a></li>
								<li><a href="http://sig.se.gob.ar/geoportal/" target="_blank">Ministerio de Energía y Minería</a></li>
								<li><a href="http://ide.agroindustria.gob.ar/visor/" target="_blank">Ministerio de Agroindustria</a></li>
								<li><a href="https://geoportal.conae.gov.ar/geoexplorer/composer/" target="_blank">CONAE</a></li>
								<li><a href="https://geonode.senasa.gov.ar/layers/?limit=100&offset=0" target="_blank">SENASA</a></li>
							</ul>
						</li>
						<li><a href="">Neuquén</a>
							<ul>
								<li><a href="http://gisestadisticanqn.neuquen.gov.ar/" target="_blank">Dirección General de Estadística y Censo</a></li>
					<li><a href="http://rechidr.neuquen.gov.ar:8080/dprh/composer/" target="_blank">Dirección Provincial de Recursos hídricos</a></li>
							</ul>
						</li>
						<li><a href="">Río Negro</a>
							<ul>
								<li><a href="http://ide.extranet.rionegro.gov.ar/" target="_blank">IDE Provincia</a></li>
							</ul>
						</li>
						<li><a href="">Chubut</a>
							<ul>
								<li><a href="http://ide.estadistica.chubut.gov.ar/mapas/" target="_blank">Dirección General de Estadística y Censo</a></li>
								<li><a href="http://www.catastro.chubut.gov.ar/cbtweb/forms/Main.aspx" target="_blank">Dirección General de Catastro e Información Territorial</a></li>
							</ul>
						</li>
						<li><a href="">Santa Cruz</a>
							<ul>
								<li><a href="http://www.sitsantacruz.gob.ar/" target="_blank">Sistema de Información Territorial</a></li>

							</ul>
						</li>
						<li><a href="">Tierra del Fuego</a>
							<ul>
								<li><a href="">(No se ha encontrado ninguna IDE para esta provincia)</a></li>
							</ul>
						</li>
					</ul>

            {% endblock %}
          </ul>
	      <ul class="nav navbar-nav navbar-right">
		  
            <li>
              <div class="search">
                <form id="search" action="{% url "search" %}" >
                  <span class="fa fa-search"></span>
                  {% if HAYSTACK_SEARCH %}
                  <input id="search_input" type="text" placeholder="Search" name="q">
                  {% else %}
                  <input id="search_input" type="text" placeholder="Search" name="title__icontains">
                  {% endif %}
                </form>
              </div>
	        </li>
			
            {% if not user.is_authenticated and REGISTRATION_OPEN %}
            <li><a href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% avatar user 42 %} {{ user.username }}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
                <li><a href="{% url "recent-activity" %}">{% trans "Recent Activity" %}</a></li>
                <li><a href="{% url "messages_inbox" %}">{% trans "Inbox" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "admin:index" %}">Admin</a></li>
                <li><a href="{{ GEOSERVER_BASE_URL }}">GeoServer</a></li>
                <li><a href="{% url "help" %}">{% trans "Help" %}</a></li>
                <li><a href="/account/logout/">Logout</a></li>
                </ul>
              </li>
		      {% else %}
		      <li><a href="#" data-toggle="modal" data-target="#SigninModal" role="button" >{% trans "Sign in" %} </a></li>
              {% endif %}
            </ul>
          </div> <!--/.nav-collapse -->
        </div>
      </nav>
      {% endblock header %}
{% block extra_tab %}

				
{% comment %}
Add Tab for Third Party Apps
<li>
 <a href="{{ PROJECT_ROOT }}app">App</a>
</li>

{% endcomment %}
{% endblock %}

  <div id="wrap">
    {% block middle %}
    <div class="container">
      {% include "_status_message.html" %}
      {% include "_announcements.html" %}
      {% include "_messages.html" %}
      {% block body_outer %}
      <div class="row">
        <div class="col-md-8">
        {% block body %}{% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}{% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}
  </div>
  
 {% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li>Data</li>
            <li><a href="{% url "layer_browse" %}>{% trans "Layers" %}</a></li>
            <li><a href="{% url "document_browse" %}>{% trans "Documents" %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url "services" %}>{% trans "Remote Services" %}</a></li>
            <li><a href="{% url "layer_upload" %}>Upload Layer</a></li>
            <li><a href="{% url "document_upload" %}>Upload Document</a></li>
            <li><a href="{% url "register_service" %}>{% trans "Add Remote Service" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li>Maps</li>
            <li><a href="{% url "maps_browse" %}">{% trans "Explore Maps" %}</a></li>
            {% if user.is_authenticated %}
            <li> <a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
            {% endif %}
          </ul>
        </div>
		<div class="col-md-2">
          <ul class="list-unstyled">
            <li>About</li>
            <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
            <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
            {% if perms.announcements.can_manage %}
            <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
            {% endif %}
            {% if user.is_superuser %}
            <li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
            <li><a href="{% url "account_invite_user" %}">{% trans "Invite User" %}</a></li>
            <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-6 text-right">
		
            <p style="font-size:16px; color:white;"><u>{% blocktrans %}Contacto </p>
			<p style="font-size:11px; color:white;">E-mail: dmohrbell@ciefap.org.ar</br> Tel: + 54 2945 453948 int. 216 {% endblocktrans %}</br>Área de Geomática, CIEFAP</br>Ruta 259 km 16,24</br>9200 Esquel, Chubut, Argentina</p>
		
          <ul class="list-unstyled">
            <li>{% trans "Powered by" %} <a href="http://geonode.org">{% trans "GeoNode" %}</a> <em>{% trans "version" %} {{ VERSION }}</em></li>
            <li><a href="{% url "developer" %}">{% trans "Developers" %}</a> | <a href="{% url "about" %}">{% trans "About" %}</a><li>
          </ul>
          <label class="hidden">{% trans "Language" %}</label>
          {% if csrf_token != "NOTPROVIDED" %}
          {% get_current_language as LANGUAGE %}
          <form class="form-inline" action="/i18n/setlang/" method="post">
          {% csrf_token %}
            <select class="col-md-6 pull-right" name="language" onchange="javascript:form.submit()">
              {% for lang in LANGUAGES %}
              <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                {{ lang.1 }}
              </option>
              {% endfor %}
            </select>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </footer>
  {% endblock footer %}
